@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}
body {
    background-color: #22254b;
    color:white;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: grey;
    text-decoration: unset;
}

button,
input[type="submit"] {
    border: none;
    background: none;
    color: unset;
    cursor: pointer;
}

.test {
    border: 1px solid whitesmoke;
    background-color: #4a934a;
}

/* general styling */
body {
    font-family: "Roboto", sans-serif;
}

/* header styling */
#header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
}

#header.title {
    margin: 0;
    paddng: 0 1rem;
    color: white;
}

#header .auth-options {
    height: 100%;
    display: flex;
}

#header .auth-options button {
    padding: 0 1rem;
    background-color: darkgoldenrod;
    color: white;
    font-size: 1.1rem;
}

#header .auth-options button:hover {
    background-color: goldenrod;
}

/* form */

.form label,
.form input {
    display: block;
}
.form input {
    margin-bottom: 1rem;
}
.form label {
    margin-bottom: 0.2rem;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
    width: 100%;
    padding: 0.3rem;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    background-color: #f0f0f0;
    font-size: 1.1rem;
}
.form input:focus {
    border: 1px solid #50a4e9;
    box-shadow: inset 0px 0px 5px rgba(38, 142, 228, 0.5);
    outline: none;
}
.form input[type="submit"] {
    padding: 0.3rem 0.5rem;
    border: 1px solid #6aa051;
    border-radius: 8px;
    background-color: #c8ecb7;
    font-size: 1.1rem;
}

/* todo list */

.todo-list ul {
    list-style: disc;
    cursor: pointer;
}

.todo-list li:hover {
    text-decoration: line-through;
}

/* error notice */

.error-notice {
    margin: 1rem 0;
    padding: 0.5rem;
    border: 1px solid #e07c7c;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8d6d6;
}
.error-notice button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #df4343;
    color: #ffffff;
}

/* Movie styling */
.movie-container {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    background-color: grey;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.movie img {
    max-width: 100%;
}

.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.movie-info h3 {
    margin: 0;
}

.movie-overview {
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
    color: #22254b;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    max-height: 100%;
    transform: translateY(102%);
    transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-overview {
    transform: translateY(0%);
}

.movie-mark {
    background-color: #6aa051;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    /*position: absolute;*/
    /*bottom: 0;*/
}

.space {
    flex: 1;
}